<h1>List all articles</h1>
<%= link_to 'Myblog' ,controller:"articles" %><br />
<%= link_to 'new article' , new_article_path %><br />
<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>

	<%= @articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.text %></td>
		</tr>
	<% end %>
</table>